[Unit]
Description=MomOS daemon (momd)
PartOf=graphical-session.target
After=graphical-session.target
ConditionFileIsExecutable=/usr/local/bin/momd

[Service]
Type=simple
ExecStart=/usr/local/bin/momd
Restart=always
RestartSec=5
Slice=app-graphical.slice
